.nav-child {
    background-color: black;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 150px;
  }
  
  .text {
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    margin: 5px;
  }
.text-con a ,
.text-con
 {
    text-decoration: none;
    color: aliceblue;
    font-size:20px ;
}
.text-con a {
    margin: 0 1px;
}
.text-con a i {
    margin: 0 10px;
}
.wrapper {
  position: relative;
  width: 200px;
  margin: 0 auto;
}

.arrow-up,
.arrow-down {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
}

.arrow-up {
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #333 transparent;
}

.arrow-down {
  border-width: 10px 10px 0 10px;
  border-color: #333 transparent transparent transparent;
}

.content {
  display: none;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-top: none;
}

.show {
  display: block;
}
button#myButton {
  text-align: center;
  margin: 30px 0;
  background-color: rgb(149, 149, 143);
}




  