* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* foooter */
@keyframes doimauchu {
    0% {
        color: #f1c40f;
    }

    20% {
        color: #e74c3c;
    }

    50% {
        color: #000000;
    }

    70% {
        color: #2ecc71;
    }

    100% {
        color: #9742a0;
    }
}















.gt {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.sc_layouts_title_breadcrumbs {
    display: flex;
    justify-content: center;
}

.sc_layouts_title_breadcrumbs a {
    color: #DEDEDE;
    text-decoration: none;
}

.boder {
    border-bottom: 1px solid #5c5c5c;
    height: 100px;
}

.bodi {
    border-bottom: 1px solid #5c5c5c;
    height: 100px;
}

.post_item.with_thumb a {
    text-decoration: none;
    color: #000000;
}

.widget.widget_tag_cloud a {
    display: inline-block;


    text-decoration: none;
    color: #000000;
    padding: 5px 10px;
    letter-spacing: 1.5px;
    font-size: 12px !important;
    text-transform: uppercase;
    margin: 0px 10px 10px 0px;
    box-shadow: 0 0 0 0 transparent;
    background-color: #e8e8e8;


}



.widget.widget_archive li {
    list-style: none;
}

.widget.widget_archive a {
    text-decoration: none;
    color: #000000;

}

.trx_addons_tabs_titles.ui-tabs-nav.ui-corner-all.ui-helper-reset.ui-helper-clearfix.ui-widget-header {
    display: flex;
    column-gap: 20px;
}

.trx_addons_tabs_titles.ui-tabs-nav.ui-corner-all.ui-helper-reset.ui-helper-clearfix.ui-widget-header li a {
    text-decoration: none;

    color: #000000;
}

.trx_addons_tabs_titles.ui-tabs-nav.ui-corner-all.ui-helper-reset.ui-helper-clearfix.ui-widget-header li {
    list-style: none;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    padding: 10px 15px;
}

.wp-calendar-nav-prev a {
    text-decoration: none;
    color: #000000;
}

tr {
    color: #000000;
}

.product-title {
    display: flex;

}

a span.product-title {
    color: #000000;

}

a {
    text-decoration: none;
}

.woocommerce-Price-amount.amount {
    color: #ff0000;
}

.product_list_widget li {
    list-style: none;
}

.sangga {
    width: 100%;
    border-bottom: 1px solid #979797;

}

.form-style-4 {
    width: 100%;

}

.wpcf7-form-control-wrap {
    color: #8b8b8b;
    font-size: 12px;
}

.wpcf7-form-control-wrap a {
    color: #8b8b8b;
    border-bottom: 1px solid #797979;
}

input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.fill_inited {
    border: none;
    padding: 20px;
    background-color: #c2c2c2;
}

textarea.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required.fill_inited {
    border: none;
    background-color: #c2c2c2;
    padding-left: 10%;

}

.breadcrumbs {
    font-size: 15px;
}
main{
    overflow: hidden;
}