ol.breadcrumb {
    display: flex;
    list-style: none;
    padding: 10px 40px;
    font-size: 15px;
}
a {
    text-decoration: none;
    color: rgb(109, 109, 109);
}
.breadcrumb-contents .breadcrumb .breadcrumb-item + .breadcrumb-item:before {
    font-family: "Ionicons";
}
.sodu{
    display: flex;
    justify-content: center;
  
}
.address {
    display: flex;
    align-items: baseline;
}
.contact_adress {
    font-size: 14px;
    color: rgb(94, 94, 94);
    font-weight: 300;
}
.contact_form {
    font-size: 14px;
    color:rgb(94, 94, 94) ;
}
button#submit {
    background-color: black;
    color: rgb(255, 255, 255);
}
 button#submit:hover{
   
    color: rgb(255, 0, 0);
}